<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sh.organization.user.mapper.UserInfoMapper">

    <select id="queryUserPermissions" resultType="java.lang.String">
        select access_path
         from user_info u
           join role_info r
             on u.role_id = r.role_id
           join role_menu_info rm
             on r.role_id = rm.role_id
           join menu_info m
             on m.menu_id = rm.menu_id
       where r.role_id = #{userId}
           and u.del_flag != '1'
           and u.del_flag != '1'
		   and m.del_flag != '1'
    </select>
</mapper>
